<h3>Add Employee Reactive Form/ Code Driven</h3>

<form [formGroup]="myform" (ngSubmit)="addEmployee()" >

<div>

  <label>Employee Name</label>  

  <div class="form-group">


    <label> Enter name</label>

    <input  class="form-control" name="empName"  formControlName="empName" placeholder="min 8 letters">

    <div *ngIf="(nameCtrl.touched || nameCtrl.dirty) && nameCtrl.errors!=null && nameCtrl.errors.required">
     <small class="text-danger">Name is required  </small> 
    </div>

</div>

<div class="form-group">


    <label> Enter Age</label>

    <input type="number" class="form-control" name="empAge" formControlName="empAge"   placeholder="between 21 and 60">


    <div *ngIf="(ageCtrl.touched || ageCtrl.dirty) && ageCtrl.errors!=null && ageCtrl.errors.forbiddenAge">
      <small class="text-danger">Age should be between 21 and 60  </small> 
     </div>
</div>


<button class="btn btn-success">Add Employee</button>
</div>


</form>




<h3 *ngIf="employeeAdded">
    Thank you, user got added
   {{emp.empName}} {{emp.empAge}} 
</h3>