<h1> Home</h1>
<div>

Home , here i can mention about various parts of applications to enduser


<h3>Our distinguished employees</h3>
<div class="col-md-9" style="margin-top:50px;">
<!---
    <a routerLink="/employee/1">employee 1</a>
    <br>
    <a routerLink="/employee/2">employee 2</a>
    
    <br>
    <a routerLink="/employee/3">employee 3</a>
-->

<button (click)="onButtonClick(1)">employee 1 details </button>
    <br>
<button (click)="onButtonClick(2)">employee 2 details </button>
<br>
<button (click)="onButtonClick(3)">employee 3 details </button>
</div>

